/* PROJECT DETAIL VIEW */
/******************************************/
.project-detail-view {
}

.project-detail-view .image-element-container {
  padding: 8px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .project-detail-view {
    padding: 0 12px;
  }

  .project-detail-view .image-element-container {
    padding: 11px 8px;
    height: 438px;
    overflow: hidden;
  }
  .project-detail-view .image-element-container.small {
    height: 235px;
  }

  .project-detail-view .image-element {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .project-detail-view .image-element img {
    display: none;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .project-detail-view {
    padding: 0 34px;
  }

  .project-detail-view .image-element-container {
    padding: 16px 10px;
    height: 584px;
  }
  .project-detail-view .image-element-container.small {
    height: 313px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
