body {
  margin: 0;
  padding: 0;
  font-family: 'CalibreWeb-Medium';
  font-size: 16px;
  line-height: 1.3em;
  color: #000;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-family: 'CalibreWeb-Semibold';
  line-height: 1em;
}

h2 {
  line-height: 1.2em;
}

/* BOOTSTRAP */
/******************************************/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* IMGS */
/******************************************/
.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

img.scale {
  opacity: 0;
  width: 100%;
}

/* HEADER VIEW */
/******************************************/
.header-view .logo {
  float: left;
  margin: 14px 0 0 20px;
}

.header-view .logo img {
  width: 62px;
}

.header-view .menus {
  float: right;
  margin: 18px 22px 0 0;
  font-family: 'CalibreWeb-Semibold';  
  text-transform: uppercase;
  font-size: 1.4em;
}

.header-view .menus ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-view .menus li {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.header-view .menus li:last-child {
  padding-right: 0;
}

.header-view a,
.header-view a:visited,
.header-view a:active {
  color: inherit;
  text-decoration: none;
}

.header-view a:hover {
  color: #DD0330;
  text-decoration: none;
}

/* FOOTER VIEW */
/******************************************/
.footer-view {
  position: relative;
  padding: 44px 50px 56px 50px;
  font-family: 'CalibreWeb-Semibold';
}

.footer-view .footer-container .logo {
  padding-top: 6px;
}

.footer-view a,
.footer-view a:visited,
.footer-view a:active {
  color: inherit;
  text-decoration: none;
}

.footer-view a:hover {
  color: #DD0330;
  text-decoration: none;
}

.footer-view .section .detail {
  padding-bottom: 52px;
}

.footer-view .title {
  padding-bottom: 16px;
}

.footer-view p {
  font-size: 1.5em;
  line-height: 1.2em;
}

.footer-view .top {
  text-align: center;
}

.footer-view .top:hover {
  color: #DD0330;
  cursor: pointer;
}

.footer-view img {
  width: 100px;
}

/* FILTERS VIEW */
/******************************************/
.filters-view {
  text-align: center;
}

.filters-view .filters-container {
  padding: 32px 0 40px 0;
}

.filters-view ul {
  margin: 0;
  padding: 4px 0 0 0;
  list-style: none;
}

.filters-view li {
  margin: 0;
  padding: 0;
}

.filters-view li:hover {
  color: #DD0330;
  text-decoration: none;
  cursor: pointer;
}

.filters-view li.active {
  color: #DD0330;
  text-decoration: none;
}

/* NEWS VIEW */
/******************************************/
.news-view {
  padding: 42px 20px 0px 20px;
  color: #FFF;
  background-color: #000;
}

.news-view .blank {
  display: none;
  min-height: 100px;
}

.news-view .full-width-container {
  text-align: center;
}

.news-view .full-width {
  display: inline-block;
  text-align: left;
  float: none;
  margin: 0 auto;
}

.news-view .full-width.left {
  display: inline-block;
  text-align: left;
  float: left;
}

.news-view .full-width.right {
  display: inline-block;
  text-align: left;
  float: right;
}

.news-view .item {
  padding: 0px 0px 60px 0px;
}

.news-view .item a,
.news-view .item a:visited,
.news-view .item a:active {
  color: inherit;
  text-decoration: none;
}

.news-view .item a:hover {
  color: #DD0330;
  text-decoration: none;
}

.news-view .type {
  padding-bottom: 14px;
  font-family: 'CalibreWeb-Semibold';
  font-size: 1.5em;
}

.news-view .image {
  padding-bottom: 20px;
}

.news-view .more {
  display: inline-block;
  padding-top: 8px; 
  padding-left: 8px; 
  font-size: 0.5em;
  line-height: 1em;
  vertical-align: top;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-view .logo {
    margin: 10px 0 0 28px;
  }

  .header-view .logo img {
    width: 102px;
  }

  .header-view .menus {
    margin: 22px 30px 0 0;
    font-size: 3.2em;
  }

  .header-view .menus li {
    padding: 0 20px;
  }

  .footer-view {
    padding: 44px 56px 56px 30px;
  }

  .footer-view .top {
    text-align: inherit;
  }

  .footer-view p {
    font-size: 1.3em;
  }

  .footer-view .footer-container {
    position: relative;
  }

  .footer-view .section .detail {
    padding: 0px 0px 0px 44px;
  }
  .footer-view .section:first-child .detail {
    padding-left: 0;
  }

  .footer-view .section:last-child .detail {
    text-align: right;
    padding-right: 0;
  }

  .footer-view .top {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .filters-view {
    text-align: left;
    padding: 0 30px;
    font-size: 0.9em;
  }

  .filters-view .filters-container {
    padding-bottom: 18px;
  }

  .filters-view li {
    display: inline-block;
    padding: 0 8px;
  }
  .filters-view li:first-child {
    padding-left: 0;
  }

  .news-view {
    padding-top: 52px;
    color: inherit;
    background-color: #EAECE9;
  }

  .news-view .blank {
    display: block;
  }

  .news-view .item {
    padding: 0px 10px 100px 10px;
  }

  .news-view .type {
    font-size: 1.3em;
  }

  .news-view .more {
    padding-top: 12px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .header-view .logo {
    margin: 15px 0 0 42px;
  }

  .header-view .logo img {
    width: 100%;
  }

  .header-view .menus {
    margin: 34px 42px 0 0;
    font-size: 4.2em;
  }

  .header-view .menus li {
    padding: 0 28px;
  }

  .footer-view {
    padding: 44px 86px 56px 44px;
  }

  .footer-view img {
    width: 122px;
  }

  .footer-view p {
    font-size: 1.75em;
  }

  .filters-view {
    padding: 0 44px;
    font-size: 1.1em;
  }

  .filters-view .filters-container {
    padding-bottom: 32px;
  }

  .filters-view li {
    padding: 0 10px;
  }

  .news-view {
    padding-top: 72px;
  }

  .news-view .item {
    padding: 0px 22px 128px 22px;
  }

  .news-view .type {
    font-size: 1.7em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
